.header{
    nav{
        padding: 24px;
    }

    &__logo{

        img{

        }
    }

    &__menu{

        span{

        display: block;
        background-color: $darkViolet;
        width: 26px;
        height: 2px;
        &:not(:last-child){
            margin-bottom: 3px;
        }

        }
    }
}

p{
    color: red;
}